<div class="p">
    <h3>Network</h3>
    <table cellspacing="0">
        <tr>
            <td>IP</td>
            <td>{{IP}}</td>
        </tr>
        <tr>
            <td>Mask</td>
            <td>{{MASK}}</td>
        </tr>
        <tr>
            <td>Gateway</td>
            <td>{{GATEWAY}}</td>
        </tr>
        <tr>
            <td>DNS</td>
            <td>{{DNS}}</td>
        </tr>   
        <tr>
            <td>MAC</td>
            <td>{{MAC}}</td>
        </tr>
         <tr>
            <td>Network</td>
            <td>{{NETWORK}}</td>
        </tr>
        <tr>
            <td>Signal</td>
            <td>{{SIGNAL}} dBm</td>
        </tr>
        <tr>
            <td>Distance (estimated)</td>
            <td>{{DISTANCE}}</td>
        </tr>
    </table>
</div>
