:root {
    --accent-color: #f33;
    --accent-color-text: #fff;
    --border-color: #ccc;
    --header-height: 64px;
    --row-height: 40px;
    --text-color: #000;
    --border-radius: 8px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafbfb;
}

a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

.hidden { display: none; }


/* Dropdown menu, floating_menu */
input[type="checkbox"].hidden ~ div {
    display: none
}

input[type="checkbox"].hidden:checked ~ div, #check_floating_menu:checked ~ a {
    display: block;
}


header {
    background: var(--accent-color);
    color: var(--accent-color-text);
    line-height: var(--header-height);
    position: fixed;
    width: 100%;
    display: flex;
    text-align: center;
    top:0;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

header h2 {
    flex: 1;
}

header a {
    display: inline-block;
    line-height: var(--header-height);
    height: var(--header-height);
    width: var(--header-height);
}


main {
    min-height: 100vh;
    padding-top: var(--header-height);
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}


/* SVG icons */
svg {
    max-width: 100%;
    max-height: 100%;
    padding: 22%;
    fill: var(--accent-color-text);
}

.list svg {
    width: 40px;
    height: 40px;
    background: var(--accent-color);
    border-radius:50%;
    margin-right: 20px;
    padding: 8px;
    vertical-align: middle;
}

.list {
}


/* Menus (and sub-menus) without more submenus inside */
.list a {
    display: block;
    padding: 10px 0 10px 10px;
}

/* With sub-items */
.list > div > label {
    display: block;
    padding: 10px;
}


/* arrow right */
.list i  {
    float: right;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
}

/*Sub-menus and sub-sub-menus*/
.list > div > div, .list > div > div div {
    padding-left: 40px;
}


/* Dropdown menu */
.dropdown {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

.dropdown > div {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}



/* Floating menu (create in files for example) */
.floating_menu {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.floating_menu > *:not(:first-child) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--accent-color-text);
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}


/* Hide all except last */
.floating_menu > *:not(:last-child) {
    display: none;
}

.floating_menu label {
    width: 40px;
    height: 40px;
    display: inline-block;
}








/* Menu icon */
input[type=checkbox]:checked ~ ul {
    display: block;
}


.p {
    padding: 1.2rem;
}

.p-1 { padding: 8px; }
.p-2 { padding: 16px; }


h1,h2,h3,h4,h5 { font-weight: normal; margin: 0;}
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }


table { width: 100%; border-radius: var(--border-radius); border: 1px solid var(--border-color); border-bottom: 0; }
table tr td:nth-child(2) {
    text-align: right;
}
td { padding: 5px 10px; border-bottom: 1px solid var(--border-color); }



.card {
    border-radius: var(--border-radius);
    background-color: #fff;
    margin: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
}

.card.card-buttons > a {
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.card.card-buttons a:hover { background: #e1e1e1;}

.card.card-buttons > a :nth-child(2) {
    flex: 1;
}

.card.card-buttons svg {
    width: 24px;
    height: 24px;
    fill: #000;
    padding: 0;
    margin-right: 16px;
}
