:root {
    --accent-color: #f33;
    --accent-color-text: #fff;
    --border-color: #ccc;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    color: #000;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.hidden { display: none; }

/* Dropdown menu, floating_menu */

input[type="checkbox"].hidden ~ div {
    display: none
}

input[type="checkbox"].hidden:checked ~ div, #check_floating_menu:checked ~ a {
    display: block;
}


header {
    background: #eee;
    line-height: 60px;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

header .expand {
    flex: 1;
}


header > div {
    text-align: center;
}

header i {
    padding: 10px;
    color: #333;
}


main {
    margin-top: 60px;
}




.list {
}


/* Menus (and sub-menus) without more submenus inside */
.list a {
    display: block;
    padding: 10px 0 10px 10px;
}

/* With sub-items */
.list > div > label {
    display: block;
    padding: 10px;
}


/*Right icon of list */
.list a label, .list i  {
    float: right;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
}

/*Sub-menus and sub-sub-menus*/
.list > div > div, .list > div > div div {
    padding-left: 40px;
}


/* Dropdown menu */
.dropdown {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

.dropdown > div {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}



/* Floating menu (create in files for example) */
.floating_menu {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.floating_menu > *:not(:first-child) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--accent-color-text);
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}


/* Hide all except last */
.floating_menu > *:not(:last-child) {
    display: none;
}

.floating_menu label {
    width: 40px;
    height: 40px;
    display: inline-block;
}








/* Menu icon */
q {
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    text-align: center;
    background: var(--accent-color);
    border-radius:50%;
    margin-right: 20px;
    color: var(--accent-color-text);
}


input[type=checkbox]:checked ~ ul {
    display: block;
}

input[type=checkbox] ~ .fa-chevron-up {
    display: none;
}


input[type=checkbox] ~ .fa-chevron-down {
    display: inline;
}

input[type=checkbox]:checked ~ .fa-chevron-up {
    display: inline;
}

input[type=checkbox]:checked ~ .fa-chevron-down {
    display: none;
}



form {
  padding: 30px 40px;
}

form > * {
    width: 100%;
}

form label {
  display: inline-block;
  font-weight: bold;
}

input[type="text"] {
  height: 30px;
  padding: 0 5px;
  margin-bottom: 10px;
}

input[type=submit]{
  height: 36px;
  background: var(--accent-color);
  color: var(--accent-color-text);
  border: 0;
}

.p {
    padding: 1.2rem;
}


h1,h2,h3,h4,h5 { font-weight: normal; margin: 0;}
h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.3rem; }


table { width: 100%; border-radius: 5px; border: 1px solid var(--border-color); border-bottom: 0; }
table tr td:nth-child(2) {
    text-align: right;
}
td { padding: 5px 10px; border-bottom: 1px solid var(--border-color); }
