:root {
    --accent-color: #f33;
    --accent-color-text: #fff;
    --border-color: #ccc;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    color: #000;
}

a {
    text-decoration: none;
}

header {
    background: #eee;
    line-height: 60px;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

header .expand {
    flex: 1;
}


header > div {
    text-align: center;
}

header i {
    padding: 10px;
    color: #333;
}


main {
    margin-top: 60px;
}


/* Dropdown menu */
.dropdown > div {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 5px;
}

.dropdown:hover > div {
  display: block;
}



/* List of files, networks, etc */
ul, ol {
   list-style-type: none;
}


li ul {
    display:none;
}


ul li {
    border-top: 1px solid var(--border-color);
    position: relative;
}

/* Arrow icons */
ul li i {
    position: absolute;
    right: 20px;
    top: 24px;
    z-index: -1;
}


ul li label, ul li a {
    padding: 10px;
    display: block;
}

ul li li label, ul li li a {
    padding-left: 40px;
}

ul li li li label, ul li li li a {
    padding-left: 60px;
}



/* Floating menu */
.floating_menu {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.floating_menu > *:not(:first-child) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--accent-color-text);
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}


/* Hide all except last */
.floating_menu > *:not(:last-child) {
    display: none;
}

.floating_menu label {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.floating_menu input[type=checkbox]:checked ~ a {
    display: block;
}





/* Menu icon */
q {
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    text-align: center;
    background: var(--accent-color);
    border-radius:50%;
    margin-right: 20px;
    color: var(--accent-color-text);
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ ul {
    display: block;
}

input[type=checkbox] ~ .fa-chevron-up {
    display: none;
}


input[type=checkbox] ~ .fa-chevron-down {
    display: inline;
}

input[type=checkbox]:checked ~ .fa-chevron-up {
    display: inline;
}

input[type=checkbox]:checked ~ .fa-chevron-down {
    display: none;
}



form {
  padding: 30px 40px;
}

form > * {
    width: 100%;
}

form label {
  display: inline-block;
  font-weight: bold;
}

input[type="text"] {
  height: 30px;
  padding: 0 5px;
  margin-bottom: 10px;
}

input[type=submit]{
  height: 36px;
  background: var(--accent-color);
  color: var(--accent-color-text);
  border: 0;
}

