<!DOCTYPE html>
<html lang='en'>
   <head>
      <meta charset='UTF-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <link rel='stylesheet' href='styles.css' />
      <title>{{TITLE}}</title>
      <link rel="icon" href="data:,">

      <link rel='stylesheet' href='/styles.css' />

   </head>
   <body>
      <header>
         <a href="/"><svg><use href="/sprites.svg#home" /></svg></a>
         <h2>{{TITLE}}</h2>
         <!-- right_icons -->
      </header>

      <main>
        {{MENU}}
      </main>
      
      <!-- floating_menu -->


      <script type="text/javascript">

         function hideOnHash() {
            const elements = document.getElementsByClassName('hide-on-hash');

            for (let i = 0; i < elements.length; i++) {
               if (location.hash) {
                  elements[i].classList.add('d-none');
                  elements[i].classList.remove('d-block');
               } else {
                  elements[i].classList.remove('d-none');
                  elements[i].classList.add('d-block');
               }
            }
         }

         //
         window.addEventListener('hashchange', function() {
            hideOnHash();
         });

         hideOnHash();
      </script>
   </body>
</html>
